{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Profile</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'visitorstatic/css/style.css' %}">

<!-- <style type="text/css">
    .bs-example{
        margin: 20px;
    }
</style> -->

</head>
<body>
<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="#" class="navbar-brand">BlogProject</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="nav-menu" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link active">Home</a>
          
                <a href="{% url 'blogapp:bloglist' %}" class="nav-item nav-link active">Blog</a>

            </div>
             {% if request.user.is_authenticated %}
            <div class="navbar-nav">
                <a href="{% url 'blogapp:login' %}" class="nav-item nav-link active color-light"></a>
            {{request.user}}

                <a href="{% url 'blogapp:profile' %}" class="nav-item nav-link active color-light"><i class="fa fa-user primary" aria-hidden="true"> </i>Profile</a>
                <a href="{% url 'blogapp:logout' %}" class="nav-item nav-link active color-light"><i class="fa fa-sign-in primary" aria-hidden="true"> </i>Logout</a>
            </div>
            {% else %}
            <div class="navbar-nav">
                <a href="{% url 'blogapp:login' %}" class="nav-item nav-link active color-light"><i class="fa fa-user primary" aria-hidden="true"> </i>login</a>
                <a href="{% url 'blogapp:registration' %}" class="nav-item nav-link active color-light"><i class="fa fa-sign-in primary" aria-hidden="true"> </i>Signup</a>
            {% endif %}
           </div> 
        </div>
    </nav>
</div>
                           


{% block content %}
{% endblock %}  
  <script src="{% static 'visitorstatic/js/jquery.min.js' %}"></script>

  <script src="{% static 'visitorstatic/js/bootstrap.bundle.min.js' %}"></script>

  <script src="{% static 'visitorstatic/js/scripts.js' %}"></script>



</body>
</html>